.bg-color{
    background-color: #edede9;
}
.bg-color{
    background-color: #edede9;
}

h1{
    /* color:#3ABAF1; */
    text-decoration: solid;
    text-transform: capitalize;
}
.slide_title{
    hyphens: manual;
    cursor: auto;
    font-style: normal;
    letter-spacing: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    margin: 10px 0;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0px 0px 0px 0px;
    margin: 28px 0px 37px 0px;
}
.slide_subtitle{
    hyphens: manual;
    cursor: auto;
    font-style: normal;
    letter-spacing: 0.04px;
    text-transform: none;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 1em;
    padding: 0px 0px 0px 0px;
    margin: 28px 0px 37px 0px;
}
.slide_desc{
    hyphens: manual;
    cursor: auto;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    align-self: center;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 0px 0px 0px 0px;
    margin: 28px 0px 37px 0px;
}
.slider_button{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.643;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    color: #1e1d24; 
    text-transform: none;
    hyphens: manual;
    cursor: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    visibility: visible;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 28px 0px 37px 0px;
}
.slide_link{
    font-style: normal;
    letter-spacing: 0px;
    hyphens: manual;
    box-sizing: border-box;
    display: inline-block;
    fill: #979dac;
    text-align: center;
    box-shadow: none;
    text-decoration: none;
    position: static;
    padding: 11px 30px 11px 30px;
    margin: 0px 10px 0px 0px;
    background-color: #5c677d;
    color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #7d8597;
    border-radius: 3px 3px 3px 3px;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
}

.slide_link:hover{
    background-color: whitesmoke;
    color: #1E1D24;
}
 /* first content */
.box_title{
    hyphens: manual;
    font-style: normal;
    text-transform: none;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
    color: #1E1D24;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.72px;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    margin: 26px 0px 0px 0px;
    transition: 0.3s ease;
}
.box_title:hover{
    color: #3a4454;
}

.box_des{
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    hyphens: manual;
    box-sizing: border-box;
    text-align: center;
    color: #79787F;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
}
.box_des:hover{
    color: #3a4454;
}

.first_container:hover {
    background-color: #e6e8e6;
    transition: 0.3s flip; 
}



.first_icon{
    border-radius: 50%; 
    background-color: #c8b8db; 
    width: 94px; 
    height: 94px;
    transition: 0.3s flip; 
}

.first_icon:hover{
    background-color: #fff;
}

i.fa-solid.fa-bath, .fa-solid.fa-tshirt, .fa-solid.fa-tools::before{
    font-size: 40px;
}

.sec_container:hover {
    background-color: #e6e8e6;
    transition: 0.3s flip; 
}

.sec_icon{
    border-radius: 50%; 
    background-color: #c8b8db; 
    width: 94px; 
    height: 94px;
    transition: 0.3s flip; 
}

.sec_icon:hover{
    background-color: #fff;
}

.third_container:hover {
    background-color: #e6e8e6;
    transition: 0.3s flip; 
}

.third_icon{
    border-radius: 50%; 
    background-color: #c8b8db; 
    width: 94px; 
    height: 94px;
    transition: 0.3s flip; 
}

.third_icon:hover{
    background-color: #fff;
}
 /* first content */

.step_work{
    text-align: center;
    color: #1E1D24;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
}

.step{
    text-align: center;
    color: #1E1D24;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.72px; 
}

.step_des{
    text-align: center;
    color: #79787F;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.order_title{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 1.28px; 
}

.order_text{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.order_link{
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.65px;
    fill: #cccccc;
    color: #1E1D24;
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}

.order_link:hover{
    background-color: #979dac;
    color: #1E1D24;
}

.contact_icon i{
    font-size: 24px;      
    width: 40px;           
    height: 40px; 
    border-radius: 50%;  
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    transition: ease;
}


.footer_icon{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    padding-left: 8px;
}

.footer_icon a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer_icon a:hover{
    color: #70e000;
}